body {

    background: #e1dfb9;
}
.nav__list {

    list-style: none;
    margin: 0;
    padding: 0;
}

 .container {

    width: 800px;
    margin: 0 auto;
    background: #f0f0f0;
}

.header {

    text-align: center;
    background: #8fa09b;
    padding: 5px;
    color: #ffe;
}

.sidebar {

    width: 200px;
    padding: 0 10px;
    margin-top: 10px;
    float: left;
}

.content {

    margin-left: 250px;
    padding: 10px;
    background: #fff;
}
.footer {

    background: #8fa09b;
    padding: 5px;
    color: #fff;
    clear: left;
}