.sidebar__list {

    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    
    background: #54463d;
    margin: 0;
    padding: 0;
}

.container {

    width: 800px;
    margin: 0 auto;
    background: #f0f0f0;
}

.header {

    background: #8fa09b;
    font-size: 24px;
    font-weight: bold;
    color: #edeed5;
    padding: 15px;
}

.content {

    float: left;
}

h2 {
    font-size: 18px;
    color: #752641;
    margin-bottom: 0;
}

.content {

    width: 489px;
    padding: 10px;
    border-right: 1px dashed #183533;
}

.content p {

    margin-top: 6px;
}

.sidebar {

    float: left;
    padding: 10px;
    width: 270px;
}

.footer {

    background: #8fa09b;
    color: #fff;
    padding: 5px;
}

.clear {

    clear: both;
}